[push]
	default = matching
[user]
	name = Flemming Madsen
	email = fm@amplex.dk
[core]
	excludesfile = /Users/fm/.gitignore_global
[difftool "sourcetree"]
	cmd = /Users/fm/bin3/editgitversion __DIFF__ $LOCAL $REMOTE $BASE $MERGED
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[pull]
	rebase = false
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[alias]
	st = status -s
	co = checkout
	cdiff = diff --word-diff=color --word-diff-regex=.
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
	aliases = alias
	quickserve = daemon --verbose --export-all --base-path=.git --reuseaddr --strict-paths .git/
	serve = quickserve
[color]
	ui = auto
[tig]
	diff-highlight = true
