# Lives in ~/.config/systemd/user/syncthing.service

[Unit]
Description=Syncthing

[Service]
ExecStart=/usr/bin/syncthing --no-browser --no-restart

[Install]
WantedBy=default.target
